
<br />

<div class="container-fluid" id="content">
  <!--
    extra small? <576px ?
    wrap every 2 on sm: <div class="w-100 d-none d-sm-block d-md-none"></div>
    wrap every 3 on md: <div class="w-100 d-none d-md-block d-lg-none"></div>
    wrap every 4 on lg: <div class="w-100 d-none d-lg-block d-xl-none"></div>
    wrap every 5 on xl: <div class="w-100 d-none d-xl-block"></div>
    Idea from: https://www.codeply.com/go/nIB6oSbv6q
  -->

  <div class="card-deck">

    <div class="card align-items-center text-center mb-4" style="max-width: 15rem;">
      <img class="card-img-top" src="{{ assets_url }}/img/research/Wikipedia_svg_logo.svg" alt="Logo da Wikipédia." style="width:170px;height:170px;padding-top:20px;">
      <div class="card-body">
        <h4 class="card-title">Wikipédia</h4>
        <p class="card-text">Projeto de enciclopédia multilíngue de licença livre baseada na Web e escrita de maneira colaborativa. É administrado pela Fundação Wikimedia.</p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="https://pt.wikipedia.org/" class="card-link" target="_blank">Abrir!</a>
      </div>
    </div>

    <div class="card align-items-center text-center mb-4" style="max-width: 15rem;">
      <img class="card-img-top" src="{{ assets_url }}/img/research/410px-Wikisource-logo.svg.png" alt="Logo da Wikisource." style="width:170px;height:170px;padding-top:20px;">
      <div class="card-body">
        <h4 class="card-title">Wikisource</h4>
        <p class="card-text">Projeto de biblioteca livre, que reune textos com valor histórico-cultural compatíveis com a licença GFDL. Também é administrado pela Fundação Wikimedia.</p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="https://pt.wikisource.org/" class="card-link" target="_blank">Abrir!</a>
      </div>
    </div>

    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>

    <div class="card align-items-center text-center mb-4" style="max-width: 15rem;">
      <img class="card-img-top" src="{{ assets_url }}/img/research/827meUGr_400x400.jpeg" alt="Logo do site brasil Escola" style="width:170px;height:170px;padding-top:20px;">
      <div class="card-body">
        <h4 class="card-title">Brasil Escola</h4>
        <p class="card-text">O maior portal de educação do país, com mais de 100 mil textos sobre disciplinas do Ensino Fundamental e Médio. Pertence à rede Omnia.</p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="https://brasilescola.uol.com.br/" class="card-link" target="_blank">Abrir!</a>
      </div>
    </div>

    <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>

    <div class="card align-items-center text-center mb-4" style="max-width: 15rem;">
      <img class="card-img-top" src="{{ assets_url }}/img/research/ogimage.png" alt="Logo do site significados.com.br" style="width:240px;height:170px;padding-top:20px;">
      <div class="card-body">
        <h4 class="card-title">Significados</h4>
        <p class="card-text">O site dos Significados é um repositório de significados, conceitos e definições sobre os mais variados assuntos. Pertence à 7Graus, adquirida pela portuguesa AEIOU (Cool Beans).</p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="https://www.significados.com.br/" class="card-link" target="_blank">Abrir!</a>
      </div>
    </div>

    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
    <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>

    <div class="card align-items-center text-center mb-4" style="max-width: 15rem;">
      <img class="card-img-top" src="{{ assets_url }}/img/research/logo_ogimage.png" alt="Logo do site Toda Matéria" style="width:240px;height:170px;padding-top:20px;">
      <div class="card-body">
        <h4 class="card-title">Toda Matéria</h4>
        <p class="card-text">Portal com conteúdos escolares sobre todas as matérias do Ensino Fundamental e Médio do Brasil. Também pertence à 7Graus.</p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="https://www.todamateria.com.br/ " class="card-link" target="_blank">Abrir!</a>
      </div>
    </div>

    <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>

    <div class="card align-items-center text-center mb-4" style="max-width: 15rem;">
      <img class="card-img-top" src="{{ assets_url }}/img/research/michaelis.jpg" alt="Logo do dicionário Michaelis" style="width:170px;height:170px;padding-top:20px;">
      <div class="card-body">
        <h4 class="card-title">Michaelis</h4>
        <p class="card-text">Página do Dicionário Michaelis, da Editora Melhoramentos.</p>
      </div>
      <div class="card-footer bg-transparent">
        <a href="https://michaelis.uol.com.br/ " class="card-link" target="_blank">Abrir!</a>
      </div>
    </div>

    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
    <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>

  </div>

</div>
